<head>
</head>
<body>
    <form>
    <div class="ui-widget">
        <ul>
            <li>
                label for="city">City: </label><br>
                <input id="city">
            </li>
            <li>
                <label for="region">Region: </label>
                <div id="region"></div>
            </li>
            <li>
                <label for="coords">Coords: </label>
                <div id="coords"></div>
            </li>
            <li>
                <label for="population">Population: </label>
                <div id="population"></div>
            </li>
        </ul>
    </div>
    <form>


    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            function show_info(city) {
                console.log("showing info for: " + city + "\n");
                $.ajax({
                    url: "api/get_city_info/",
                    dataType: "json",
                    data: {
                        filter: city
                    },
                    success: function(data) {
                        $("#region").html(data.region)
                        $("#coords").html(data.coords)
                        $("#population").html(data.population)
                    }
                });
            };

            $("#city").autocomplete({
                source: function( request, response ) {
                    $.ajax({
                        url: "api/get_cities/",
                        dataType: "json",
                        data: {
                            filter: request.term
                        },
                        success: function(data) {
                            response($.map(data, function(city) {
                                return {
                                    value: city.name + ', ' + city.country
                                };
                            }));
                        },
                    });
                },
                select: function(event, ui) {
                    show_info(ui.item.value);
                },
                minLength: 1,
            });

            $("form").submit(function(event){
                event.preventDefault();
                show_info($("#city").val());
            });
        });
    </script>
</body>
